* {
  margin: 0;
  padding: 0;
}

.label__language {
  text-align: center;
  padding: 5px 0px 20px 0px;
}

// .card__list {
//   width: 100%;
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       grid-template-rows: 1fr 1fr;
// }

.list__list {
  padding: 30px 0px 30px 50px;
  margin-right: 30px;

  list-style: disc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
